.lego-geolocation{
	width: auto;
	.input-group-addon{
		cursor: pointer;
	}
	.lego-smallmap{
		margin-top: 10px;
	}
}
.map-div{
	height: 100%;
	width: 100%;
	#map_container{
		height: 100%;
	}
}
.map-modal .modal-body{
	padding: 0 !important;
}
